@{
    ViewData["Title"] = "Test Assessment";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your test assessment. </h1>
    <p>Any questions? please ask <a href="mailto:eliezer.moreno@ariox.com">Eliezer</a></p>
</div>
